/*Custom variables*/
$body-bg: #f4f4fa;
$header-bg: #fefefe;
$text-color: #545454;
$nav-bgColor: #d6efee;
$circle-border: #f4f4f4;
$light-text: #a3a3a3;
$light-border: #d7d7d7;
$form-line-color: #b3b3b3;
$dark-blue: #021147;
$chart-text: #6e7486;
$purple : #39415a;
$purple-light: #cdd9ff;
$tooltip-arrow-color: #ffffff;
$blue: #196c82;
$blue-3: #1c7b94;
$blue-2:#23a6c8;
$light-blue: #26b9df;

// Bootstrap Variables
$secondary: #ffd8b3;
$primary: #365b58;
$primary-light: #d6efee;
$success: #365b58;
$success-light: #d6efee;
$danger: #dc3a3a;
$danger-light: #ffdbdb;
$info: #28a7c7;
$info-light: #dcf1f7;
$warning: #bb9463;
$warning-light: #fcf0e1;
$secondary-rgba: 255, 216, 179;
$font-family-sans-serif: "Cabin", sans-serif;
$input-border-radius: 4px;
$btn-border-radius: 4px;
$font-size-base: 1rem;
$headings-font-weight: bold;
$h3-font-size: 1.5rem;
$h4-font-size: 0.875rem;
$grid-gutter-width: 2.5rem;
$input-btn-padding-y: 0.45rem;
$input-btn-padding-x: 0.75rem;
$input-placeholder-color: $light-text;
$input-border-color: $light-text;
$body-color: #39415a;
$btn-font-size: 0.875rem;
$btn-font-size-lg: 0.875rem;
$badge-font-size: 0.75rem;
$badge-padding-y: 5px;
$badge-pill-padding-x: 10px; 
/*Responsive screen width*/

$xs: 560px;
$sm: 767px;
$md: 990px;
$lg: 1200px;
$xl: 1450px;
